language: node_js
node_js:
  - "6"
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/75742693a7fbe3849667
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
on_start: never     # options: [always|never|change] default: always